nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

main .form-control {
  /* center form controls */
  display: inline-block;

  /* override Bootstrap's 100% width for form controls */
  /*width: auto;*/
}

main {
  /* scroll horizontally as needed */
  overflow-x: auto;
  /* center contents */
  text-align: center;
  /* Make the main container never be ridiculously big */
  &.main-container {
    padding-top: 30px !important;
    max-width: 700px !important;
    @media (min-width: 768px) {
      padding-top: 100px !important;
    }
  }
}

main img {
  /* constrain images on small screens */
  max-width: 100%;
}

.product-container {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  & > a {
      color: inherit;
      text-decoration: inherit;
      &:hover {
          color: inherit;
          text-decoration: inherit;
      }
  }
    .selectable {
        height: auto;
        transition: background .4s ease-out;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 20px;
        padding-bottom: 20px;
        
        .row {
            // height must be set for centering to work. Now I'm using padding instead though.
            //min-height: 4em;
            align-items: center;
        }
        .footnote {
            min-height: 2em !important;
        }
    }
    .selectable:hover {
        background-color: rgba(133, 251, 255, 0.301);
    }



}

.mybtn {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  &:hover {
    background-color: #84e6ff;
    border-color: #4d7a64;
  }
}