{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="content-section">
    <! --insert novalidate as attribute if you only want to user server side validation-->
        <form onsubmit="return validateForm(this);" method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="text-align: left;">
                <legend id="legend" class="border-bottom mb-4"></legend>
                <div class="form-group">
                    {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid", autocomplete="off", placeholder="Username") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control", autocomplete="off", autofocus=true, placeholder="Username") }}
                    <div id="username-feedback" class="invalid-feedback"></div>
                    {% endif %}
                </div>
                <div class="form-group">

                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid", autocomplete="off", placeholder="Password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control", autocomplete="off", placeholder="Password") }}
                    <div id="password-feedback" class="invalid-feedback"></div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-outline-info") }}
            </div>
        </form>
</div>

<script>
    function validateForm(form) {
        // checks that all required info is given and of correct quality

        // if flag is true to the end the form is submitted.
        var flag = true;

        username = form.username.value;
        pw = form.password.value;

        usernameFeedback = document.getElementById("username-feedback").innerHTML;
        pwFeedback = document.getElementById("password-feedback").innerHTML;

        if (!(username.length >= 4 && username.length <= 30)) {
            var username = document.getElementById("username");
            username.classList.add("is-invalid");
            document.getElementById("username-feedback").innerHTML = "Username must be between 4 and 30 characters long";
            flag = false;
        }

        if (!(pw.length > 7)) {
            var password = document.getElementById("password");
            password.classList.add("is-invalid");
            document.getElementById("password-feedback").innerHTML = "Your password must be at least 8 characters long";
            flag = false;
        }

        if (form.username.value == "") {
            document.getElementById("username-feedback").innerHTML = "You must provide a username";
            username.classList.add("is-invalid");
            flag = false;
        }

        if (form.password.value == "") {
            document.getElementById("password-feedback").innerHTML = "You must provide a password";
            password.classList.add("is-invalid");
            flag = false;
        }

        return flag;
    }


</script>

{% endblock %}