{% extends "layout.html" %}

{% block title %}
Quote
{% endblock %}

{% block main %}
<form action="/quote" method="post" onsubmit="return validateSearch(this);">
    <div class="form-group">
        <input id="symbolInput" autocomplete="off" autofocus class="form-control" name="symbol"
            placeholder="stock symbol" type="text">
        <div id="searchfeedback" class="feedback" style="text-align: left; color: #dc3545; font-size: 80%;"></div>
    </div>
    <button id="search_button" class="btn btn-primary" type="submit">Get quote</button>
</form>

{% if quoteDict == "" %}
<!-- Nothing to see here. -->
{% else %}
<div class="container pt-5">
    <div class="table-responsive">
        <table id="jstable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ quoteDict["name"] }}</td>
                    <td>{{ quoteDict["price"] }}</td>
                    <td>{{ quoteDict["symbol"] }}</td>
                    <td id="timeStamp"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    // moment library needs to be imported (in base template):
    // "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    var currentTime = moment.parseZone('{{ quoteDict["isotime"]|safe }}').local().format("lll");
    document.getElementById("timeStamp").innerHTML = currentTime;
</script>
{% endif %}

<script>
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    });

    var searchInput = document.getElementById("symbolInput");
    var clickedSearch = false;
    console.log("script reset");


    document.getElementById('search_button').onclick = function () {
        clickedSearch = true;
    };


    // Execute a functions when the user releases a key on the keyboard
    searchInput.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            document.getElementById("search_button").click();
        }
    });


    function validateSearch(form) {

        if (clickedSearch == true) {

            clickedSearch = false;
            if (searchInput.value === "") {
                document.getElementById('searchfeedback').innerHTML = "Search field empty";
                return false;
            }
        }

        return true;
    }

</script>

{% endblock %}