{% extends "layout.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="content-section">
    <! --insert novalidate as attribute if you only want to user server side validation-->
        <form onsubmit="event.preventDefault(); return validateForm(this);" method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="text-align: left;">
                <legend class="border-bottom mb-4">Register a new user</legend>
                <div class="form-group">
                    {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid", autocomplete="off", placeholder="Username") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control", autocomplete="off", autofocus=true, placeholder="Username") }}
                    <div id="username-feedback" class="invalid-feedback"></div>
                    {% endif %}
                </div>
                <div class="form-group">

                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid", autocomplete="off", placeholder="Password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control", autocomplete="off", placeholder="Password") }}
                    <div id="password-feedback" class="invalid-feedback"></div>
                    {% endif %}
                </div>
                <div class="form-group">

                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid", autocomplete="off", placeholder="Confirm password") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control", autocomplete="off", placeholder="Confirm password") }}
                    <div id="confirm-feedback" class="invalid-feedback"></div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-outline-info") }}
            </div>
        </form>
</div>


{% endblock %}