{% extends "layout.html" %} {% block title %} Sell {% endblock %} {% block main
%}


<! -- product containter, only shows if there's a valid stock in flask session -->
    {% if ("sellstock" not in session) %}
    <!-- User still hasn't posted anything. -->
    {% elif "symbol" in session["sellstock"] %}
    <!-- User has searched for a valid stock. -->
    {% set sellDict = session["sellstock"] %}
    <!-- sellDict is the dictionary with stock information. -->
    <div>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="container-fluid product-container">
                <!-- PRODUCT -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-6" style="padding-right: 0; padding-left: 0;">
                            <h4 class="product-name">
                                <strong>{{ stock.name }}</strong>
                            </h4>
                            <h4>
                                <small>{{ stock.symbol }}</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-6 text-right" style="
              margin-top: auto;
              padding-right: 0;
              padding-left: 0;
              padding-top: 10px;
            ">
                            <div style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
              ">
                                <span>
                                    <strong> {{ "$%.2f"|format(stock.price) }}
                                        <span class="text-muted" style="padding-right: 4px;">x</span></strong>
                                </span>

                                <div class="input-group float-right" style="max-width: 100px;">
                                    <!-- INPUT FIELD amount-->
                                    {% if form.shares.errors %}
                                    {{ form.shares(class="form-control is-invalid", value=session['sellstock']['amount'], size="4", style="width: 58px;") }}
                                    {% else %}
                                    {{ form.shares(class="form-control", value=session['sellstock']['amount'], size="4", style="width: 58px;") }}
                                    {% endif %}

                                    <div class="input-group-append">
                                        <!-- REFRESH BUTTON -->
                                        {{ form.shares_button(class="mybtn btn btn-outline-secondary fa-text", value="&#xf2f1;"|safe, style="border-radius: 0.25rem;") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if form.shares.errors %}
                    <div class="feedback"
                        style="text-align: right; margin-right: -12px; color: #dc3545; font-size: 80%;">
                        <span>{{ form.shares.errors[0] }}</span>

                    </div>
                    {% endif %}
                </div>
                <hr />
                <div class="row footnote">
                    <div class="col-12">
                        <span class="text-muted small">You own {{ stock.amount }} stocks for at total worth of
                            {{ "$%.2f"|format(stock.amount * stock.price) }} </span>
                    </div>
                </div>
                <!-- END PRODUCT -->
            </div>
            <div class="card-footer">
                <div class="pull-right" style="margin: 10px;">
                    <!-- SELL BUTTON -->
                    {{ form.submit_button(class="mybtn btn btn-primary") }}
                    <div class="pull-right" style="margin: 5px;">
                        Total price:
                        <b>
                            {% if "total" in sellDict %} {{
            "$%.2f"|format(sellDict["total"]) }} {% endif %}
                        </b>
                    </div>
                </div>
            </div>

            {% endif %}
        </form>
    </div>

    {% endblock %}